@font-face {
  font-family: digital;
  font-style: normal;
  font-weight: 400;
  src: url(./Digital7-1e1Z.ttf);
}

body {
  font-family: digital, sans-serif;
  font-size: 2em;
}

.app {
  /* display: flex; */
  width: 700px;
}

.display {
  display: flex;
  background-color: lightgrey;
  height: 100px;
  color: white;
  font-weight: bold;
  padding: 0 1em;
  align-items: center;
}

.display h1 {
  margin-left: auto;
}

.buttonPanel {
  display: flex;
  height: 100px;
}

.button {
  width: 25%;
  border: 1px solid lightgray;
  font-size: 1em;
}

.button:hover {
  background-color: white;
}

.button50 {
  width: 50%;
}

.buttonOrange {
  background-color: orange;
}

.buttonOrange:hover {
  background-color: orangered;
}
